{% extends 'site_base.html' %}

{% load static %}

{% block content %}
<center><img src="/static/bootstrap-3.3.7-dist/img/banner1.png" height="72" width="610"></center>
<center><img src="/static/bootstrap-3.3.7-dist/img/ndulogo.png" height="150" width="150"></center>

  <div class="container profile">
    <h1><center>Graduate Profile</center></h1>

      <img class="profile-photo img-circle center-block" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'user-default-profile.png' %}{% endif %}">

      <p></p>

      <p class="text-center">
        <button class="btn btn-default"><a href="{{ object.get_update_url }}">Update</a></button>
        {% if not is_survey_completed %}
          <button class="btn btn-default"><a href="{% url 'survey-create' %}">Survey</a></button>
        {% endif %}
      </p>

    <table class="table">
      {% for row in profile_table_rows %}
        <tr>
          <td>{{ row.0 }}:</td>
          <td><strong>{{ row.1 }}</strong></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <p>
  <p>

{% endblock %}
