{% extends 'site_base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block auth_section %}{% endblock %}

{% block content %}
<center><img src="/static/bootstrap-3.3.7-dist/img/banner1.png" height="72" width="610"></center>
<center><img src="/static/bootstrap-3.3.7-dist/img/ndulogo.png" height="150" width="150"></center>

  <div class="container signup">
    <h3>{% trans "Create New Account" %}</h3>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a> Here.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button><p>
    </form>
  </div>


{% endblock %}
