{% extends 'site_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h1>Survey</h1><p>
    <h5>The <b>NOTRE DAME UNIVERSITY</b> wants to reach you and be connected to our ALUMNI. The Institution would like to update you on University developments programs, the Faculty and Student achievement, and the University activities and various Alumni events.<p><br>
    In cooperation with our Notre Dame University Alumni Association (NDUAA), we are updating our alumni records. May we request a few minutes of your time to fill up the short form below. The information you will shared will be kept <B>CONFIDENTIAL</B> and will be used by NDUAA to keep in touch with you.<br><p>
    Please share this to fellow Notre Dameans in your workplaces. Feel free to contact us for any questions and suggestions.<br><p><p><br>
    Thank you very much.<br><p>
</h5>

    {% crispy form form.helper %}
  </div>

{% endblock %}
